<!DOCTYPE html>
<html>
  <head>
    <title>PokeStats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag({ controller: "pokemons", action: "go" }, method: "get") do %>
      <%= select_tag(:s, options_for_select([['google', 'google'], ['ptc', 'ptc']], 'google')) %>
      <%= text_field_tag(:u) %>
      <%= text_field_tag(:p) %>
      <%= submit_tag("Go") %>
    <% end %>

    </br>

    <%= yield %>
  </body>
</html>
